.profile {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.profile__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 123px;
}

.profile__table-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.profile__table-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000000;
    border: none;
}

.profile__row {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    border-bottom: 1px solid #E8E8E8;
}

.profile__row:last-of-type {
    border-bottom: none;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    align-items: center;
}

.profile__button-edit {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-self: center;
    color: #000000;
    border: none;
    background: none;
    transition: opacity 0.1s linear 0.1s;
}

.profile__button-logout {
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FF3055;
    border: none;
    background: none;
    transition: opacity 0.1s linear 0.1s;
}

.profile__button-edit:hover, .profile__button-logout:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile {
        padding: 220px 0 269px;
    }

    .profile__inputs {
        margin-top: 85px;
    }

    .profile__buttons {
        margin-top: 190px;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        padding: 60px 0 40px;
    }

    .profile__row {
        width: 260px;
    }

    .profile__inputs {
        margin-top: 63px;
    }

    .profile__buttons {
        margin-top: 360px;
    }
}
