.portfolio {
    padding: 0 70px 125px;
}

.portfolio__title {
    margin: 0 0 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
}

.portfolio__list {
    list-style-type: none;
    padding: 0;
}

.portfolio__item {
    display: flex;
    height: 90px;
    justify-content: space-between;
    border-bottom: solid 1px #E8E8E8;

}

.portfolio__item:last-of-type {
    border-bottom: none;
}

.portfolio__item:hover {
    cursor: pointer;
}

.portfolio__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    align-self: center;
}

.portfolio__img-link {
    background-image: url("../../images/link.svg");
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    align-self: center;
}