.footer {
    padding: 80px 70px 0;
}

.footer__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    margin: 0;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #E8E8E8;
;
}

.footer__data {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    align-self: center;
}

.footer__links {
    display: flex;
    height: 55px;
    align-items: center;
}

.footer__yandex {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #000000;
    margin-right: 20px;
}

.footer__git {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #000000;
}