.nav {
    align-self: center;
    margin-bottom: 2.5%;
}

.nav__list {
    display: flex;
    flex-direction: row;
}

.nav__item {
    display: flex;
    list-style-type: none;
    background: #E8E8E8;
    border-radius: 10px;
    width: 96px;
    height: 36px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-family: Inter;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}